body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
    color: #333;
}

.buttons button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #555;
}
